.features {
  @include vp--767 {
    padding-top: 0px;
    padding-bottom: 0;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp--1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features__item {
  border: 1px solid $color-solitude;
  border-radius: 20px;

  @include vp--1439 {
    width: 100%;
  }

  @include vp--1023 {
    margin-bottom: 20px;
  }

}


.features__item-icon svg {
  display: block;

  margin: 0 auto;

  margin-top: 9%;

  @include vp--767 {
    margin-top: 11%;

    width: 70px;
    height: 70px;
  }
}


.features__header {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 58px;

  text-align: center;
  //letter-spacing: -0.4px;

  margin: 0;
  padding-left: 31px;
  padding-right: 36px;
  padding-top: 40px;
  padding-bottom: 10px;

  @include vp--767 {
    font-size: 32px;
    line-height: 36px;
    //letter-spacing: -0.4px;
    text-align: center;

    padding-top: 22px;
    padding-left: 6px;
    padding-right: 8px;
  }

}

.features__header span {
  display: block;
}

.features__text {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;

  text-align: center;
  //letter-spacing: -0.4px;
  margin: 0;
  padding-left: 31px;
  padding-right: 36px;
  padding-top: 22px;
  padding-bottom: 57px;
  color: $color-black-transparent;

  @include vp--767 {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    //letter-spacing: -0.4px;

    padding-left: 17px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 40px;
  }
}

.features__item:nth-of-type(3n+2) .features__header {
  @include vp--767 {
    padding-left: 11px;
    padding-right: 12px;
  }
}

.features__item:nth-of-type(3n+2) .features__text {
  @include vp--767 {
    padding-left: 13px;
    padding-right: 12px;
  }
}
