.room-service {
  padding-bottom: 33px;

  @include vp--767 {
    padding-bottom: 1px;
  }
}

.room-service__title {
  padding-top: 20px;

  @include vp--767 {
    text-align: left;
    padding-right: 152px;
  }
}

.room-service__header-description {
  padding-right: 20px;
  padding-left: 25px;

  @include vp--1023 {
    width: 100%;
  }

  @include vp--767 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.room-service__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding: 0;

  @include vp--1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.room-service__item {
  width: 675px;
  margin-bottom: 62px;

  @include vp--1439 {
    width: 100%;
  }

  @include vp--767 {
    margin-bottom: 41px;
  }
}

.room-service__img img {
  border-radius: 10px;

  @include vp--1023 {
    width: 100%;
  }
}

.room-service__wrapper {
  display: flex;

  @include vp--1279 {
    flex-direction: column;
  }
}

.room-service__header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  //letter-spacing: -0.4px;
  text-align: left;

  min-width: 250px;

  margin: 0;

  padding-top: 31px;

  @include vp--1439 {
    min-width: 220px;
  }

  @include vp--767 {
    font-size: 28px;
    line-height: 34px;
    padding-top: 22px;
  }
}

.room-service__description {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  //letter-spacing: -0.4px;
  text-align: left;
  color: $color-black-transparent;

  margin: 0;
  padding-left: 15px;
  padding-top: 30px;

  @include vp--1279 {
    padding-left: 0;
  }

  @include vp--767 {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    //letter-spacing: -0.4px;
    padding-left: 0;
    padding-top: 8px;
  }
}

.room-service__item:nth-of-type(3n+4) .room-service__header {
  padding-right: 40px;
}

.room-service__item:nth-of-type(3n+4) {
  margin-bottom: 0;

  @include vp--767 {
    margin-bottom: 0;
  }
}

.room-service__item:nth-child(4n+3) {
  margin-bottom: 0;

  @include vp--1023 {
    margin-bottom: 62px;
  }

  @include vp--767 {
    margin-bottom: 41px;
  }
}
