.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  @include vp--1023 {
    flex-direction: column;
    align-items: initial;
    margin-bottom: 30px;
  }
}

.section-header__title {
  max-width: 610px;
  margin: 0;
  margin-right: 5%;
  font-weight: 600;
  font-size: 52px;
  line-height: 58px;
  //letter-spacing: -0.4px;
  color: $color-default-black;

  @include vp--1023 {
    max-width: initial;
    margin: 0 0 14px;
    font-size: 36px;
    line-height: 39px;
    //letter-spacing: -0.4px;
  }
}

.section-header__description {
  width: 42%;
  max-width: 570px;
  margin: 0;
  margin-left: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  //letter-spacing: -0.4px;
  color: $color-black-transparent;

  @include vp--1023 {
    width: 100%;
    max-width: initial;
    margin: 0;
    font-size: 22px;
    line-height: 28px;
  }
}
