@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "SF Pro Display";

  font-display: swap;
  src:
    url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "SF Pro Display";

  font-display: swap;
  src:
    url("../fonts/SF-Pro-Display-Medium.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "SF Pro Display";

  font-display: swap;
  src:
    url("../fonts/SF-Pro-Display-Semibold.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
}
