//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/picture

//- Модалки
//- ---------------------------------

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success
include ../mixins/modals/modal-conversational

//- Компоненты
//- ---------------------------------

include ../mixins/partners-list
include ../mixins/section-header
include ../mixins/section-message
include ../mixins/link
include ../mixins/intro
include ../mixins/features
include ../mixins/services
include ../mixins/features-service
include ../mixins/room-service
include ../mixins/order-access
include ../mixins/customization
include ../mixins/partners
include ../mixins/subscriptions
include ../mixins/hotel-reviews
include ../mixins/guest-reviews
include ../mixins/questions
include ../mixins/connect
