-
  const roomCard = [
    {
      header: "Печатные материалы",
      text: "QR-коды можно разместить на&nbsp;печатных и&nbsp;электронных носителях в&nbsp;любом месте отеля. Например, на&nbsp;стойке регистрации, в&nbsp;лифте, в&nbsp;номерах или на&nbsp;пластиковых ключах.",
      path: "room-services-3",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "qr-код на печатных матерьялах",
    },
    {
      header: "Письмо гостю",
      text: "Приветственное письмо с&nbsp;персональной ссылкой и&nbsp;приглашением. Гостю не&nbsp;придётся вводить номер комнаты и&nbsp;фамилию&nbsp;&mdash; вся информация о&nbsp;нем уже будет в&nbsp;системе.",
      path: "room-services-4",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "ноутбук на подоконнике",
    },
    {
      header: "ТВ&nbsp;в&nbsp;номере",
      text: "Персональный QR-код появится на&nbsp;экране телевизора. На&nbsp;него нужно просто навести камеру телефона и&nbsp;гостю не&nbsp;придётся вводить номер комнаты и&nbsp;фамилию&nbsp;&mdash; вся информация о&nbsp;нём уже будет в&nbsp;системе.",
      path: "room-services-1",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "ТВ в номере",
    },
    {
      header: "После подключения интернета",
      text: "После успешного подключения к&nbsp;Wi-Fi отеля гость увидит приглашение перейти в&nbsp;приложение.",
      path: "room-services-2",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "женщина с ноутбуком в руках на диване",
    },    
  ]
