-
  const servicesCard = [
    {
      header: "Еда в&nbsp;номер",
      text: "Ознакомиться с&nbsp;меню, выбрать и&nbsp;оплатить блюда онлайн.",
      path: "services-phone-item-1",
      format: "png",
      width: "301",
      height: "600",
      alt: "Еда в номер",
    },
    {
      header: "Гостиничные услуги и&nbsp;бронирование",
      text: "Заказать уборку номера или постельные принадлежности. Забронировать столик в&nbsp;ресторане или сеанс в&nbsp;спа.",
      path: "services-phone-item-2",
      format: "png",
      width: "301",
      height: "600",
      alt: "Гостиничные услуги и бронирование",
    },
    {
      header: "Профиль гостя, счёт и&nbsp;экспресс check-out",
      text: "Посмотреть дату и&nbsp;время выезда, счёт за&nbsp;услуги, а&nbsp;также быстро выехать, не&nbsp;создавая очереди на&nbsp;ресепшн.",
      path: "services-phone-item-3",
      format: "png",
      width: "301",
      height: "600",
      alt: "Профиль гостя, счёт и экспресс check-out",
    },
    {
      header: "Мессенджер с&nbsp;персоналом",
      text: "Задать любой вопрос сотрудникам отеля с&nbsp;помощью встроенного мессенджера",
      path: "services-phone-item-4",
      format: "png",
      width: "301",
      height: "600",
      alt: "Мессенджер с персоналом",
    },
    {
      header: "Мобильный пульт&nbsp;ТВ",
      text: "Управлять телевизором в&nbsp;номере прямо со&nbsp;смартфона",
      path: "services-phone-item-5",
      format: "png",
      width: "301",
      height: "600",
      alt: "Мобильный пульт ТВ",
    },
    {
      header: "«Умный» номер (GRMS)",
      text: "Настроить температуру и&nbsp;степень освещенности в&nbsp;номере",
      path: "services-phone-item-6",
      format: "png",
      width: "301",
      height: "600",
      alt: "Умный» номер (GRMS)",
    },
  ]
