mixin features-service()
  section.features-service.container
    .features-service__wrapper
      h2.features-service__header
        | Услуги отеля, заказ&nbsp;еды
        | в&nbsp;номер, бронирование спа
        | и&nbsp;ресторанов, управление
        | номером&nbsp;&mdash; всё это доступно
        | гостю в&nbsp;браузере его смартфона
