mixin features()
  section.features.container
    ul.features__list
      li.features__item
        .features__item-icon
          +icon("icon-covid", 80, 80)
          p.features__header.features__header--covid
            | Действенная мера против COVID-19
          p.features__text
            | Hoteza Web делает пребывание в&nbsp;отеле безопаснее, минимизируя
            | встречи персонала и&nbsp;гостей лицом к&nbsp;лицу. Все вопросы теперь
            | можно решить в&nbsp;браузере смартфона.

      li.features__item
        .features__item-icon
          +icon("icon-integration", 80, 80)
        p.features__header.features__header--integration
          span
            | Интеграция
          | с&nbsp;PMS, POS, SOS, GRMS
        p.features__text
          | Синхронизация с&nbsp;профилем гостя в&nbsp;PMS, персональные ссылки
          | и&nbsp;постинг на&nbsp;счёт гостя, лёгкая интеграция с&nbsp;существующими
          | процессами исполнения заказов, управление номером и&nbsp;другое.
