-
  const roomInfo = {
    heading: {
      class: "room-service__title",
      text: "Поможем в&nbsp;продвижении приложения"
    },
    paragraph: {
      class: "room-service__header-description",
      text: "Ваши гости могут получить доступ к веб&#8209;приложению следующими способами"
    }
  };


mixin room-service()
  section.room-service.container
    +section-header(roomInfo)
    ul.room-service__list
      each card in roomCard
        li.room-service__item
          .room-service__img
            +picture('content', card.path, card.format, card.width, card.height, card.alt)
          .room-service__wrapper
            p.room-service__header!=card.header
            p.room-service__description!=card.text
